<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>详细信息</title>
  <!--引入pintuer.css-->
  <link rel="stylesheet" href="../../Public/css/pintuer.css" type="text/css">
  <!--<link rel="stylesheet" href="../../Public/css/bootstrap.min.css" type="text/css">-->
  <!--引入pintuer.js和jquery.js jquery需要在pintuer之前引用-->
  <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.js"></script>
  <script src="../../Public/javascript/pintuer.js" type="text/javascript"></script>
  <script src="../../Public/javascript/respond.js" type="text/javascript"></script>
</head>
<body>
<div class="navbar bg-green bg-inverse radius ">
  <div class="navbar-head">
    <button class="button bg icon-navicon" data-target="#naver"></button>
    <a href="#"><img src="" alt=""></a>
  </div>
  <div class="navbar-body nav-navicon" id="naver">
    <ul class="nav nav-inline nav-menu  ">
      <li ><a href="index.html">首页</a> </li>
      <li class="active"><a href="create.html">商品管理</a></li>
      <li><a href="dataTable.html">商品列表</a></li>
    </ul>
  </div>
</div>

<input type="text" class="input " id="bg_day" name="bg_day" size="10" value="2018-01"
       placeholder="开始日期">
-
<input type="text" class="input"  id="end_day" name="end_day" size="10" value="2018-09" placeholder="截止日期">

<button class="button bg-green" id="search" type="submit">搜索</button>
</body>
<!--<script src="../../Public/javascript/table.js"></script>-->
<script>
    var bg ='2018-07';
    $('#search').click(function () {
        $('#bg_day').val(bg);
    });
$(document).ready(function () {

});
</script>
</html>